@charset "UTF-8";

/* typical device breakpoints

pequenas telas: até 600px
celulares: 600-768px
tabletes: 768-992px
desktops: 992-1200px
grandes telas: acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #1c2a2f, #3d6478);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div> p {
        font-size: 1em;
    }

    section > div#formulario {
        float: right;
        width: 70%;
        
    }

}


@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #1c2a2f, #3d6478);
    }
    section#login {
        width: 950px;
    }

    section#login > div#imagem  {
        float: right;
        height: 100%;
        width: 50%;
    }
    section > div#formulario {
        float: left;
        width: 50%;
        
    }
    div> h1 {
        font-size: 2em;
    }

    div> p {
        font-size: 1.2em;
    }
}
    
