@charset "UTF-8";

/* Paleta de cores 
    azul: #3d6478
    azul-escuro: #1c2a2f
    bege: #bfa691
    marrom: #877159
    *cinza-claro: #a5acbd 
*/


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color:#3d6478 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 0.8em;
}


section#login {
    background-color:white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow:  0px 0px 12px rgba(0, 0, 0, 0.452);

    /*transition: width 0.3s ease, height 0.3s ease;*/

   
}

section#login> div#imagem {
    display: block;
    background: black url(../imagens/pexels-saad-alawi-123396395-28845073.jpg) no-repeat ;
    background-size:cover;
    height: 300px;
    background-position:  center center;

}

section#login> div#formulario {
    display: block;
    padding: 10px;
    
}

section> div>h1 {
    color:#1c2a2f;
    text-align: center;
}



form {
    margin-top: 5px;
}

input:hover, button:hover {
    background-color: #bfa691;
}